@use '../../../styles/vars';

body.overflow {
    overflow: hidden;
}

article#hosting-summary {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;


    >div {
        outline: 1px solid;
        padding: 1rem 2rem;
        border-radius: 0.5rem;

        >p:first-of-type {
            text-decoration: underline;
        }
    }

    >div#userData {
        grid-column: 1;
        grid-row: 1;

    }

    >div#sendTicket {
        grid-column: 1;
        grid-row: 2;

        >button {
            font-size: 1rem;
            padding: 0.3rem 2rem;
            cursor: pointer;
            border-radius: 0.5rem;
            border: 1px solid black;

            &:hover {
                background-color: vars.$main-blue;
            }
        }

        dialog#ticketDialog {
            >button {
                cursor: pointer;
                font-size: 1.5rem;
                border: none;

                &:hover {
                    background-color: gainsboro;
                }
            }

            form {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                >button {
                    position: relative;
                    padding: 0.5rem;
                    font-size: 1rem;
                    cursor: pointer;
                    z-index: 10;
                    width: 80%;
                    margin: 0 auto;
                    border-radius: 0.5rem;
                    border: 1px solid gray;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        height: 100%;
                        width: 0;
                        background-color: vars.$main-blue;
                        transition: all 0.6s ease-in-out;
                        z-index: -1;
                    }

                    &:hover::before {
                        width: 100%;
                        transition: all 0.6s ease-in-out;
                    }
                }
            }
        }

    }

    >div#serviceData {
        grid-column: 2;
        grid-row: 1/3;

        >div:has(table) {
            display: flex;
            gap: 5rem;

            table {
                display: flex;
                flex-direction: column;
                row-gap: 0.2rem;

                tr {
                    td:first-of-type {
                        padding-right: 0.5rem;
                        font-weight: 700;
                    }
                }
            }
        }


        >div:last-of-type {
            width: fit-content;
            margin: 2rem 0 0;

            label {
                font-weight: 700;
            }

            input {
                margin-left: 0.5rem;
                border: none;
                background-color: inherit;
                text-align: center;
                width: 20%;
                font-size: 1rem;
                background-color: lightblue;
            }
        }
    }

    div#without-service {
        grid-column: 2;
        grid-row: 1/3;
    }
}