@use '../../../styles/vars';

#contact-home-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid vars.$background-white;
    margin: 2rem 0;
    padding: 1rem 0;

    #contact-img-container {

        img {
            width: 15rem;
        }
    }


    #contact-form-container {
        h3 {
            text-align: center;
        }

        form#contact-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input,
            textarea,
            button {
                padding: 0.4rem;
            }

            input{
                border-top: none;
                border-right: none;
                border-left: 1px solid;
                border-bottom: 1px solid;
                border-bottom-left-radius: 0.5rem;

                &:focus{
                    outline: none;
                    border-top: none;
                    border-right: none;
                    box-shadow: -1px 2px 2px vars.$main-blue;
                }
            }

            textarea{
                border-radius: 0.5rem;
                &:focus{
                    outline: none;
                    box-shadow: -1px 2px 2px vars.$main-blue;
                }
            }

            input#name {
                width: 95%;
            }

            #telmail {
                width: 100%;

                input:nth-child(2){
                    border-bottom-left-radius: 0rem;
                }
            }

            #msgbtn {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;

                button {
                    cursor: pointer;
                    font-size: 1rem;
                    border:1px solid gainsboro;
                    border-radius: 0.5rem;

                    &:hover{
                        background-color: vars.$main-blue;

                    }
                }
            }

        }

    }

}