@use '../../styles/vars';

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #28282800, $alpha: 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    height: 100vh;

    #header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto 4rem;
        font-size: 1.5rem;

        h2 {
            width: fit-content;
            background-color: vars.$strong-red;
            color: black;
        }

        >article {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                border-radius: 20%;
                opacity: 0.9;
                box-shadow: 0px 0px 6px black;
            }
        }

    }

    button.cta {
        border-radius: 1rem;
        background-color: rgba($color: #0048ff, $alpha: 0.2);
        border: 2px solid white;
        margin: 0 auto 3rem auto;
        transition: all 0.4s;
        padding: 0.5rem;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 1px 4px grey;
            transition: all 0.4s;
            background-color: rgba($color: #0048ff, $alpha: 0.5);

        }

        a {
            display: block;
            padding: 0.5rem;
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            color: white;
        }
    }
}