@use '../../styles/vars';

#tabs ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
        padding: 1rem;
        background-color: white;
        cursor: pointer;

        &.active {
            background-color: vars.$background-white;
            font-weight: bold;
        }

        &:not(.active):hover {
            background-color: #f6f6f6;
        }
    }

}



#tab-content {

    &>article {
        display: none;
        margin: 0;
        padding: 2rem;
        background-color: vars.$background-white;

        &.active {
            display: block;
        }

        >p {
            margin: 0;
            padding: 1rem;
            text-align: center;
            font-weight: 500;
        }
    }


    article#hosting-summary.active {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 1rem;


        >div {
            outline: 1px solid;
            padding: 1rem 2rem;
            border-radius: 0.5rem;

            >p:first-of-type {
                text-decoration: underline;
            }
        }

        >div#userData {
            grid-column: 1;
            grid-row: 1;

        }

        >div#sendTicket {
            grid-column: 1;
            grid-row: 2;

            >button {
                font-size: 1rem;
                padding: 0.3rem;
                cursor: pointer;
            }

            dialog#ticketDialog {
                >button {
                    cursor: pointer;
                    font-size: 1rem;
                    border: none;

                    &:hover {
                        background-color: gainsboro;
                    }
                }

                form {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    >button {
                        padding: 0.5rem;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }
            }

        }

        >div#serviceData {
            grid-column: 2;
            grid-row: 1/3;

            >div:has(table) {
                display: flex;
                gap: 5rem;

                table {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.2rem;

                    tr {
                        td:first-of-type {
                            padding-right: 0.5rem;
                            font-weight: 700;
                        }
                    }
                }
            }


            >div:last-of-type {
                width: fit-content;
                margin: 2rem 0 0;

                label {
                    font-weight: 700;
                }

                input {
                    margin-left: 0.5rem;
                    border: none;
                    background-color: inherit;
                    text-align: center;
                    width: 20%;
                    font-size: 1rem;
                    background-color: lightblue;
                }
            }
        }




    }

    article#user-data.active {
        display: flex;
        flex-direction: column;

        &>div {
            display: flex;
            justify-content: space-around;

            form {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                row-gap: 2rem;
                padding: 1rem;
            }

            label {
                display: block;

                &:has(+input:focus) {
                    color: vars.$main-violet;
                }
            }

            input {
                width: 10rem;
                padding: 0.5rem;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 1px solid black;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;

                &:focus {
                    outline: 1px solid vars.$main-violet;
                    border-bottom: 1px solid vars.$main-violet;
                }
            }


            button:not(#delete-user) {
                font-size: 1rem;
                border: 2px solid vars.$main-violet;
                border-radius: 1rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;

                &:hover {
                    background-color: vars.$main-violet;
                    color: white;
                    transition: all 300ms ease-in-out;
                }
            }

            form#user-data-form {

                label {
                    width: 4.5rem;
                }

                &>div:nth-child(1) {
                    grid-column: 1/3;
                    grid-row: 1;
                    display: flex;
                    align-items: center;
                    gap: 1rem;


                    div {
                        display: flex;
                        align-items: center;

                        input {
                            text-transform: capitalize;
                        }
                    }
                }

                &>div:nth-child(2) {
                    grid-column: 1;
                    grid-row: 2;
                    display: flex;
                    align-items: center;
                }

                &>button {
                    grid-column: 2;
                    grid-row: 2;
                }
            }


            form#change-pass-form {

                &>div:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                }

                &>div:nth-child(2) {
                    grid-column: 1/3;
                    grid-row: 2;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }

                button {
                    grid-column: 2;
                    grid-row: 1;
                }
            }



        }

        button#delete-user {
            cursor: pointer;
            width: 20%;
            margin: 2rem auto 0 auto;
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 1rem;
            border: 1px solid vars.$background-white;
            color: white;
            background-color: vars.$strong-red;
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
            }
        }

    }


    article#edit-service.active {

        >article>div {
            display: flex;
            justify-content: space-around;

            button {
                font-weight: 600;
                padding: 1rem;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 0.5rem;
                border: 1px solid vars.$main-violet;
                transition: all 0.2s;

                &:first-of-type:hover {
                    transition: all 0.2s;
                    color: white;
                    background-color: vars.$main-violet;
                }

                &:last-of-type:hover {
                    transition: all 0.2s;
                    color: white;
                    background-color: vars.$strong-red;
                }

            }
        }



        dialog {
            padding: 1rem 2rem;

            >button {
                cursor: pointer;
                border: none;
                font-size: 1rem;
                padding: 0.3rem 0.5rem;

                &:hover {
                    background-color: gainsboro
                }
            }

            >form {
                display: flex;
                flex-direction: column;
                row-gap: 0.8rem;
                margin-top: 1rem;

                label {
                    display: inline-block;
                    width: 10rem;
                }

                input {
                    width: 3rem;
                }

                button {
                    padding: 0.5rem;
                    font-size: 1rem;
                    margin-top: 1rem;
                    cursor: pointer;
                }

                button[type=submit] {
                    &:hover {
                        background-color: vars.$strong-red;
                    }
                }
            }
        }
    }

    article#hosting-portal.active {

        #link-provider {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
            gap: 1rem;

            p {
                color: vars.$strong-red;
                font-weight: 600;
            }

            button {
                padding: 0.5rem;
                border-radius: 0.5rem;
                font-size: 1rem;
                border: 1px solid vars.$main-violet;
                cursor: pointer;
                transition: all 300ms ease-in-out;

                &:hover {
                    background-color: vars.$main-violet;
                    border: 1px solid white;
                    color: white;
                    transition: all 300ms ease-in-out;
                }

                &:hover>i {
                    transform: rotate(180deg);
                    transition: all 300ms ease-in-out;
                }
            }

            span {
                display: flex;
                position: relative;
                align-items: center;
                margin: 2rem 0;
                border-radius: 1rem;
                background-color: vars.$main-blue;
                transition: all 300ms;

                &:hover {
                    box-shadow: 0px 0px 5px black;
                    transition: all 300ms;
                }

                i {
                    position: absolute;
                    top: auto;
                    bottom: auto;
                    z-index: 1;
                    left: 0.5rem;
                }

                a {
                    text-decoration: none;
                    color: black;
                    display: block;
                    width: 118%;
                    height: 119%;
                    padding: 1rem 1rem 1rem 2rem;
                    z-index: 2;
                }
            }
        }
    }
}