@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rajdhani&display=swap');

#header-timer {
    margin-top: 2.5rem;
    span {
        font-family: "Rajdhani", sans-serif;
        font-size: 2rem;
    }
}