@use '../../../styles/vars';


body.overflow {
    overflow: hidden;
}

#logIn-dialog {
    padding: 3rem 2rem 2rem 2rem;
    position: relative;
    border-radius: 0.5rem;

    #close-dialog {
        position: absolute;
        top: 1rem;
        right: 2rem;
        cursor: pointer;
        border: none;
        font-size: 1.5rem;

        &:hover {
            background-color: gainsboro;
        }

    }

    #logIn-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        >div {
            display: flex;
            flex-direction: column;
            width: 15rem;

            input {
                padding: 0.2rem 0.5rem;
                border-radius: 0.3rem;
                border: 1px solid gray;
            }
        }

        button {
            font-size: 1rem;
            padding: 0.5rem;
            margin-top: 0.5rem;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            border: 1px solid vars.$background-white;
            transition: all 0.3s;

            &:hover {
                transition: all 0.3s;
                background-color: vars.$strong-red;
                color: white;
            }
        }

    }
}